# dependencias
/node_modules

# builds
/dist
/build

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# entorno
.env
.env.local
.env.*.local

# editores
.vscode/
.idea/

# sistema
.DS_Store
Thumbs.db


#videos 

uploads/videos